[submodule "hec-dss"]
	path = hec-dss
	url = https://github.com/HydrologicEngineeringCenter/hec-dss.git
	branch = master
[submodule "hec-dssvue-linux"]
	path = hec-dssvue-linux
	url = https://github.com/HydrologicEngineeringCenter/hec-dssvue-linux.git
	branch = main
